/* varialbes */
:root {
  /* colors */
  --bc: hsl(0deg 0% 0%);
  --high-light: hsl(55deg 89% 47%);
  --high-light2: hsl(233deg 88% 41%);
  --white: #ffffff;

  --button1st: hsl(0deg 0% 89% / 18%);
  --button2nd: hsl(0deg 5% 34% / 62%);

  --background: hsl(0deg 0% 0% / 60%);
  --table: hsl(0deg 1% 33% / 60%);

  --font-tittle: "Aladin", cursive;
  --font-body: "Cormorant Garamond", serif;
}

/* reset */
body,
p,
a,
ul,
li,
dl {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* base styles */

* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Cormorant+Garamond:ital,wght@0,500;1,500;1,600&display=swap");

h1 {
  font: bold 50px /30px var(--font-tittle);
  color: var(--high-light);
}
h2,
p {
  font: bold 23px /30px var(--font-tittle);
  color: var(--white);
}

/* mobil 320px first styles */

/* --------------------------------- Home Page --------------------- */
#intro_page {
  height: 100%;
  background: var(--background) url(./images/dark-stormy-clouds.jpg) no-repeat right top;
  background-blend-mode: color;
  background-size: cover;
}
#intro_page main {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  height: 96.5vh;
  margin: auto;
  place-items: center;
  overflow: hidden;
}
#title {
  text-align: center;
}
#intro_page p {
  font-size: 1.5rem;
}
#button {
  border: 1px solid var(--button1st);
  color: var(--white);
  font: bold 13px/30px var(--font-tittle);
  padding: 2.5%;
  border-radius: 10px;
  background-color: var(--button1st);
}
footer {
  display: block;
  width: 30%;
  margin: auto;
}

/* --------------------------------- Student List Page --------------------- */

#body_list {
  background: var(--background) url(./images/rithika-gopalakrishnan-JK0l2xvN1fY-unsplash.jpg) no-repeat right top;
  background-blend-mode: color;
  background-size: cover;
  overflow-x: hidden;
}

#subt {
  display: block;
  width: 40%;
  margin: 3% auto;
}

#fil_status {
  margin-left: 5%;
}

/* --------TABLE-------- */

table {
  width: 90%;
  margin: 3% auto;
}

table,
th,
td,
.input,
button {
  border-top: 1.5px solid var(--button1st);
  border-left: 1.5px solid var(--button1st);
  border-radius: 6px;
}

th,
.input {
  background-color: var(--background);
  padding: 1%;
  font: bold 0.9rem/1rem var(--font-body);
  color: var(--high-light);
}

td,
button,
input {
  background-color: var(--table);
  padding: 1% 2%;
  font: 14px/10px var(--font-body);
  color: var(--white);
}
input {
  margin: 3%;
  border-radius: 6px;
  padding: 1%;
}

#search {
  background: url(./images/search-normal.png) no-repeat right;
  background-size: 13%;
}

/*-------------------- // TOTALS // ---------------*/
#wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25%;
  margin: 3% 10%;
}
#totals,
#houses {
  display: flex;
  flex-direction: column;
}
#houses button {
  margin-top: 3%;
}
/* ------------------ // POP-UP // ------------- */
main {
  position: relative;
}

#pop_up {
  display: none;
  background-color: var(--);
  position: absolute;
  left: 17%;
  top: 20%;
  width: 60%;
  color: var(--white);
  font: bold 1rem/3rem var(--font-tittle);

  padding: 0.7rem 4rem;
  background: linear-gradient(135deg, rgba(255, 255, 255.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 6px;
}
dt {
  color: var(--high-light2);
  border-bottom: 1.5px solid var(--button2nd);
}
dd {
  color: var(--bc);
}
dt,
dd {
  display: inline-block;
  width: 40%;
}

#pop_up.open {
  display: block;
}
#close_pop.open {
  display: block;
}
main.close {
  display: none;
}
#close_pop {
  display: none;
  font: bold 3rem/3rem var(--font-tittle);
  position: absolute;
  left: 80%;
  color: var(--white);
}

/* --------------------------- // Changing Background// ----------------- */
#body_list.back_griff,
#body_list.back_slyt,
#body_list.back_huff,
#body_list.back_raven {
  height: 100%;
  background-blend-mode: color;
  background-size: cover;
}
#body_list.back_griff {
  background: var(--background) url(./images/Gryffindor.jpg) repeat top;
}
#body_list.back_slyt {
  background: var(--background) url(./images/Slytherin.jpg) repeat top;
}
#body_list.back_huff {
  background: var(--background) url(./images/Hufflepuff.jpg) repeat top;
}
#body_list.back_raven {
  background: var(--background) url(./images/Ravenclawn.jpg) repeat top;
}
tr.hidde {
  display: none;
}
th.sortBy {
  background: linear-gradient(120deg, rgba(180, 180, 200.1), rgba(255, 255, 255, 0));
}

/* ----------------------- //arrow directions// ------------------------------ */
th.sortBy[data-sort-direction="asc"]::after {
  content: "⇩";
  padding-left: 4px;
}
th.sortBy[data-sort-direction="desc"]::after {
  content: "⇧";
  padding-left: 4px;
}

/* ----------------------- //visual feedback from expelling students // ------------------------------ */

.animation {
  transform: translateX(100vw);
  transition: transform 2s linear;
}

/* responsiveness way too ambitious!!!! */
/* small tablet styles */
@media screen and (min-width: 620px) {
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* destop styles */
@media screen and (min-width: 1200px) {
}
